
body {
  
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.column{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

/*-- contact-section --*/
.contact{
	  /*background: #292D46;*/
	padding:6em 0em;
	overflow: hidden;
  
}
.contact h3{
  font-size: 2.5em;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0 auto;
  border-bottom: 2px solid white;
  width: 300px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}
.contact p{
	font-size:1.2em;
	font-weight:400;
	color: #ffffff;
	margin:1em 0em 4em;
	text-align:center;
}
.contact form input[type="text"]{
	  width: 100%;
  padding: 1.5% 0;
  margin-bottom: 7%;
  background: none;
  color: #FFFFFF;
  font-size: 18px;
  outline: none;
  font-weight: 400;
  text-indent: 10px;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
}
.contact form textarea {
	resize:none;
	width: 100%;
	padding: 2% 0;
	margin-bottom: 5%;
	background:none;
	color: #FFFFFF;
	font-size:18px;
	outline: none;
	font-weight:400;
	text-indent: 10px;
	border: 1px solid #FFFFFF;
	min-height: 205px;
	border-radius: 3px;
}/*
.contact form input[type="submit"] {
	background: #ff6f5c;
	padding: 0.5em 3em;
	color:#fff;
	font-size: 19px;
	font-weight: 400;
	display: block;
	outline: none;
	border: none;
	border-radius:5px;
	text-transform:uppercase;
	font-family: 'Open Sans';
	font-weight: bold;
	cursor: pointer;
	float: right;
}	
.contact form input[type="submit"]:hover{
  background: #FFFFFF;
  color: #000;
}*/
/*-- contact --*/

.wrap {
  width: 80%;
  margin: 0px auto;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  font: inherit;
}



@media (min-width: 992px){
.container {
  width: 970px;
}
body {
	background-color:#3498db;


}

.column {
  width: 50%;
  float: left;
}
}


@media (min-width: 1200px){
	.container {
	  width: 1170px;
	}
}


/* AUTHOR LINK */



.about-me-img {
  width: 120px;
  height: 120px;
  left: 10px;
  /* bottom: 30px; */
  position: relative;
  border-radius: 100px;
  border: 1px solid #4A5F67;
}


.about-me-img img {
  margin-top: 10px;
  margin-left: 5px;
}


.authorWindow{
  width: 560px;
  background: #292D46;
  padding: 22px 20px 22px 20px;
  border-radius: 5px;
  overflow: hidden;
}

.authorWindowWrapper{
  display:none; 
  left: 110px;
  bottom: 0;
  padding-left: 30px;
  position: absolute;
}


.trans{
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  transition: all 500ms ease;
}



input[type="submit"] {
 
  padding: 0.5em 3em;
  color:#fff;
  font-size: 19px;
  font-weight: 400;
  display: block;
  outline: none;
  border: solid;
  border-color: white;
  border-radius:5px;
  text-transform:uppercase;
  font-weight: bold;
  cursor: pointer;
  float: right;
} 
