@charset "utf-8";
#navdiv {
	float: left;
}
#menu {
	list-style-type: none;
	text-shadow: 0px 0px;
}
#menu3 {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	border-color: rgb(0, 48, 93);
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	padding-left: 15px;
}
#menu2 {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	border-style: solid;
	padding-left: 15px;
	border-color: rgb(0, 48, 93);
}
#menu1 {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	border-color: rgb(0, 48, 93);
	border-left-style: solid;
	border-right-style: solid;
	border-top-style: solid;
	padding-left: 15px;

}
#menu0 {
	text-align: center;
	background-color: rgb(0, 48, 93);
	color: white;
}
#nomuser {
	float: right;
	padding-top: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	padding-left: 2%;
}


.menulink {
	text-decoration: none;
}
#action {
	text-shadow: 0px 0px rgb(0, 48, 93);
}

#container {
	margin: auto;
	width: 85%;
}
#imguser {
	float: right;
}
#divuser {
	width: 25%;
	float: right;
}
